*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}
.container{
    border: 1px solid black;
    padding: 10px 20px;
   min-width: 400px;
   display: flex;
   flex-direction: column;
  
}
#search{
    padding: 5px 10px;
    font-size: 20px;
    margin: 10px 0 ;
    width: 100%;
    border: none;
    outline: none;
    border-bottom: 1px solid black;
}
.detail{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px 0 ;
    gap: 50px;
}
#img-size{
font-size: 20px;
padding:5px 10px;
}
.btn-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#generate{
    font-size: 20px;
    padding:5px 10px;
}
#download{
    font-size: 20px;
    padding:5px 10px;
}
.qrcontainer{
   margin-top: 20px;
   transition: all 0.3s ease ease-in;
}
#qr-img{
    border: 1px solid black;
   
}